<div class='container'>
<header>
		<nav>
			<ul>
				<div class='row'>
					<div id='navabout' class='col-xs-offset-1 col-xs-3  col-sm-3 col-sm-offset-1'>
						<li>{{section1}}</li>
					</div>
					<div id='naveducation' class='col-xs-4 col-sm-4'>
						<li>{{section2}}</li>
					</div>
					<div id='navskills' class='col-xs-3 col-sm-3'>
						<li>{{section3}}</li>
					</div>
				</div>
				<div class='row'>
					<div id='navportfolio' class='col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2'>
						<li>{{section4}}</li>
					</div>
					<div id='navcontact' class='col-xs-4 col-sm-4'>
						<li>{{section5}}</li>
					</div>
				</div>
			</ul>
		</nav>
</header>
<section id='titles'>
<h1>
  {{title.name}}
 </h1>
 <h2>
  {{title2}}
</h2>
</section>
<!-- <p>{{hero.name}}</p> -->
<!-- <p>{{hero.id}}</p> -->
<!-- <input [(ngModel)]="hero.name" placeholder="name"> -->
<section id='aboutme'>
	<h3>{{section1}}</h3>
	<div class='first row'>
		<div id='about' class='aboutme col-xs-6 col-sm-6'>
			<p id='intro'>Hello, my name is Eddy and I am a webdeveloper. I am 28 years old and I live in Besançon, in France. Here you will discover my projects, but before that I introduce myself. </p>
		</div>
		<div id='me' class='aboutme col-xs-6 col-sm-6'>
			<img class='portrait' src='assets/images/photo.png'>
		</div>
	</div>
	<div class='secund row'>
		<div id='hobbiesimg' class='col-xs-6 col-sm-6'>
			<img class='left hobbies up' src='assets/images/planet.jpg'>
			<img class='hobbies up' src='assets/images/leaf.jpg'>
			<img class='left hobbies down' src='assets/images/chemistry.jpg'>
			<img class='hobbies down' src='assets/images/camera.jpg'>
		</div>
		<div id='hobbies' class='col-xs-6 col-sm-6'>
			<p class='text'>I always liked sciences and nature, as well as astronomy, chemistry , botanics. I decided to become a webdevelopper since it's another hobby and it permits me to link science and creativity.</p>
		</div>
	</div>
</section>
<section id='education'>
<h3>{{section2}}</h3>
	<div class='first row'>
		<div class='col-xs-6 col-sm-6'>
			<img src='assets/images/education.jpg'/>
		</div>
		<div class='text' class='col-xs-6 col-sm-6'>
			<p class='text'>I always liked sciences and nature, as well as astronomy, chemistry , botanics. I decided to become a webdevelopper since it's another hobby and it permits me to link science and creativity.</p>
		</div>
	</div>
</section>
<h3>{{section3}}</h3>
<h3>{{section4}}</h3>
<h3>{{section5}}</h3>
</div>