<div (click) = 'changeColor()' class='container'>
<header>
		<nav class='navbar-fixed-top'>
			<ul>
				<div class='row'>
					<div id='navabout' class='col-xs-offset-1 col-xs-3  col-sm-3 col-sm-offset-1'>
						<li><a href='#aboutme' target='_self'>{{section1}}</a></li>
					</div>
					<div id='naveducation' class='col-xs-4 col-sm-4'>
						<li><a href='#education'>{{section2}}</a></li>
					</div>
					<div id='navskills' class='col-xs-3 col-sm-3'>
						<li><a href='#skills'>{{section3}}</a></li>
					</div>
				</div>
				<div class='row'>
					<div id='navportfolio' class='col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2'>
						<li><a href='#portfolio'>{{section4}}</a></li>
					</div>
					<div id='navcontact' class='col-xs-4 col-sm-4'>
						<li><a href='#contact'>{{section5}}</a></li>
					</div>
				</div>
			</ul>
		</nav>
</header>
<main>
<section id='titles'>
<h1 [@nameTranslate]>
  {{title.name}}
 </h1>
 <h2 [@webTranslate]>
  {{title2}}
</h2>
</section>
<section id='aboutme'>
	<h3 [@ChangeColor]='sectionState'>{{section1}}</h3>
	<div class='first row'>
		<div id='about' class='aboutme col-xs-6 col-sm-6'>
			<p id='intro'>Bienvenue sur mon application portfolio ! Je m'appelle Eddy, j'ai 28 ans et je vis à Besançon. Je suis en formation à l'Access Code School de Besançon afin de devenir développeur web.</p>
		</div>
		<div id='me' class='aboutme col-xs-6 col-sm-6'>
			<img class='portrait' src='assets/images/photo.png'>
		</div>
	</div>
	<div class='first row'>
		<div id='hobbies' class='col-xs-12 col-sm-12'>
			<p class='text'>Passionné par la nature et les sciences depuis de nombreuses années, j'ai toujours aimé acquérir de nouvelles connaissances. Devenir développeur web est pour moi un bon moyen de réunir logique et créativité.</p>
		</div>
		<div class='col-xs-12 col-sm-12'>
			<img id='img_hobbies' class='img-responsive' src='assets/images/desktop.png'/>
		</div>
	</div>
</section>
<section id='education'>
<h3 [@ChangeColor]='sectionState'>{{section2}}</h3>
	<div class='first row'>
		<div id='cv' class='col-xs-12 col-sm-12'>
				<div class='col-xs-offset-2 col-xs-2'>
					<p class='year'>2017</p>
				</div>
				<div class='col-xs-6'>
					<p>Préparation au titre professionnel de développeur web.</p>
					<p>Access Code School Besançon</p>
				</div>
				<div class='col-xs-offset-2 col-xs-2'>
					<p class='year'>2010</p>
				</div>
				<div class='col-xs-6'>
					<p>Licence professionnelle de chimie analytique</p>
					<p>Université Blaise Pascal de Clermont-Ferrand</p>
				</div>
			
			
				<div class='col-xs-offset-2 col-xs-2'>
					<p class='year'>2009</p>
				</div>
				<div class='col-xs-6'>
					<p>Diplôme universitaire de technologie Chimie</p>
					<p>Institut Universitaire de Technologie de Besançon</p>
				</div>
				<div class='col-xs-offset-2 col-xs-2'>
					<p class='year'>2007</p>
				</div>
				<div class='col-xs-6'>
					<p>Baccalauréat scientifique</p>
					<p>Lycée Jean-Michel de Lons le Saunier</p>
				</div>
		</div>
		<div class='text' class='col-xs-12 col-sm-12'>
			<p class='text'>I always liked sciences and nature, as well as astronomy, chemistry , botanics. I decided to become a webdevelopper since it's another hobby and it permits me to link science and creativity.</p>
		</div>
	</div>
</section>

<section id='skills'>
<h3 [@ChangeColor]='sectionState'>{{section3}}</h3>
	<div id='skillscontent' class='row'>
	<p class='text'>Voici l'ensemble des mes compétences web, en ce qui concerne le front-end, le back-end, les technologies et les logiciels utilisés.</p>
			<div class='first row img-responsive'>
					<div class='col-xs-3 col-sm-3'>
						<img class='php' src='assets/images/php.png'/>
						<p id='skillsname'>PHP</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='mysql' src='assets/images/mysql.png'/>
						<p id='skillsname'>MySQL</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='js' src='assets/images/js.png'/>
						<p id='skillsname'>Javascript</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='jquery' src='assets/images/jquery.png'/>
						<p id='skillsname'>JQuery</p>
					</div>
			</div>
			<div class='first row'>
					<div class='col-xs-3 col-sm-3'>
						<img class='html' src='assets/images/html.png'/>
						<p id='skillsname'>HTML</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='css' src='assets/images/css.png'/>
						<p id='skillsname'>CSS</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='bootstrap' src='assets/images/bootstrap.png'/>
						<p id='skillsname'>Bootstrap</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='sass' src='assets/images/sass.png'/>
						<p id='skillsname'>SASS</p>
					</div>
			</div>
			<div class='first row'>
					<div class='col-xs-3 col-sm-3'>
						<img class='angular' src='assets/images/angular.png'/>
						<p id='skillsname'>Angular</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='github' src='assets/images/github.png'/>
						<p id='skillsname'>Github</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='photoshop' src='assets/images/photoshop.png'/>
						<p id='skillsname'>Photoshop</p>
					</div>
					<div class='col-xs-3 col-sm-3'>
						<img class='wordpress' src='assets/images/wp.png'/>
						<p id='skillsname'>Wordpress</p>
					</div>
			</div>
	</div>
</section>
<section id='portfolio'>
	<h3 [@ChangeColor]='sectionState'>{{section4}}</h3>
	<p class='text'>Retrouvez ici les principaux projets que j'ai pu réaliser au cours de ma formation à l'ACS.</p>
	<button (click)='rightSlide()'[@ChangeColor]='sectionState'>Faire défiler</button>
	<div id='slidediv'>
		<div class='row'>
			<div id='slide' class='col-xs-12 col-sm-12' [@rightSlide]='slideState'>
					<div *ngFor="let database of data">
					   <p id='project_title'>{{database.nom}}</p>
					   <p id='project_description'>{{database.description}}</p>
					   <img class='img-responsive' src='{{database.image}}'/>
					   <p id='project_link'>Click <a href='{{database.lien}}'>HERE</a> to see the project.</p>
					</div>
			</div>
		</div>
	</div>
</section>
<section id='contact'>
<h3 [@ChangeColor]='sectionState'>{{section5}}</h3>
<p>Vous avez des questions, des remarques ? N'hésitez pas à me contacter, je vous répondrai dans les plus brefs délais !</p>
<form #validateform='ngForm' (ngSubmit)='onSubmit(validateform.value)' method='post' action='validate.php'>
		<div class='form-group'>
			<input type='text' class='form-control' name='name' placeholder="Votre nom..." ngControl='name' required [(ngModel)]='contact.name' #name='ngModel'>
		</div>
		<div *ngIf='name.errors && (name.dirty || name.touched)' class='alert' id='err'>
				<div [hidden]='!name.errors.required'>
					Vous devez saisir votre nom
			</div>
		</div>
		<div class='form-group'>
			<input type='text' class='form-control' name='fname' placeholder="Votre  prénom..." required [(ngModel)]='contact.fname' #fname='ngModel'>
		</div>
		<div *ngIf='fname.errors && (fname.dirty || fname.touched)' class='alert' id='err'>
				<div [hidden]='!fname.errors.required'>
					Vous devez saisir votre prénom
			</div>
		</div>
		<div class='form-group'>
			<input type='text' class='form-control' name='email' placeholder="Votre e-mail..." pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required [(ngModel)]='contact.email' #email='ngModel'>
		</div>
		<div class="alert" *ngIf='email.errors && email.touched' id='err'>
					<div class="md-char-counter" [hidden]='!email.errors.required'>
						Vous devez saisir votre E-mail.
					</div>
					<div class="md-char-counter" [hidden]='!email.errors.pattern'>
						E-mail invalide.
					</div>
		</div>
		<div class='form-group'>
			<input type='tel' class='form-control' name='tel' placeholder="Votre numéro de téléphone..." pattern="[0-9]+" required [(ngModel)]='contact.tel' #tel='ngModel'>
		</div>
		<div class="alert" *ngIf='tel.errors && tel.touched' id='err'>
					<div class="md-char-counter" [hidden]='!tel.errors.required'>
						Vous devez saisir votre numéro.
					</div>
					<div class="md-char-counter" [hidden]='!tel.errors.pattern'>
						Numéro invalide.
					</div>
		</div>
		<div class='form-group'>
			<textarea type='text' class='form-control' name='message' value='message' placeholder="Votre message..." required [(ngModel)]='contact.message' #message='ngModel'></textarea>
		</div>
				<div *ngIf='message.errors && (message.dirty || message.touched)' class='alert' id='err'>
				<div [hidden]='!message.errors.required'>
					Vous devez saisir un message
			</div>
		</div>
			<button type='submit' name='submit'[@ChangeColor]='sectionState'>Envoyer</button>
	</form>
</section>
</main>
<footer>
	<div class='row'>
		<div class='col-xs-7'>
			<p>Retrouvez-moi sur Github :</p>
		</div>
		<div class='col-xs-5'>
			<a href='https://github.com/eddyroy25'><img class='github' src='assets/images/github.png'/></a>
		</div>
	</div>
	<div class='row'>
		<p id='rights'>© Eddy ROY - Tous droits réservés.</p>
	</div>
</footer>
</div>
