main {
	position: relative;
	top: 6em;
}
nav {
	display: block;
	background-color: #2a395b;
	font-family: 'Josefin Sans';
	font-size: 1em;
	color: #141a29;
	text-align: center;
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

nav ul {
	padding-left: 0;
	margin-bottom:0;
}

nav ul li{
	display:inline-block;
	background-color: #586176;
	width: 5em;
	height: 3em;
	padding-top: 0.5em;
	border-radius: 5px;
}

nav ul li a {
	text-decoration:none;
	color: inherit;
	transition: 0.5s ease;
}

nav ul li a:hover {
	text-decoration:none;
	color: #d0d6e2;
	transition: 0.5s ease;
}

div#naveducation {
	border-radius: 5px;
}

div#navportfolio {
	padding-left: 2.5em;
	border-radius: 5px;
}
div#navcontact {
	padding-right: 2.5em;
	border-radius: 5px;
}

h1{
	color: #2a395b;
	font-family: 'Josefin Sans';
	font-size: 3em;
	padding-left: 1em;
	position:relative;
	padding-top: 2em;
	margin-top:0px;
}

h2 {
	color: #92969f;
	font-family: 'Josefin Sans';
	font-size: 3em;
	text-align: center;
	position:relative;
	padding-left: 2em;
	padding-bottom: 2em;
	margin-bottom: 0px;
}

h3 {
	color: #92969f;
	font-family: 'Josefin Sans';
	font-size: 2em;
	position:relative;
	padding-right: 1em;
	padding-top: 1em;
	text-align: right;
	padding-bottom: 1em;
	margin-top:0px;
	background-color: #2a395b;
	border-radius: 5px;
}

section#titles {
	/* background-image: url('../assets/images/sky-2.jpg'); */
	background-color: #d0d6e2;
	border-radius: 5px;
}

div.first{
	margin: 0 auto;
}

section#aboutme .portrait{
	width: 11.2em;
	border: solid 5px #d0d6e2;
	float:right;
	border-radius: 5px;
}

section#aboutme .hobbie{
	width: 10em;
	border: solid 5px #d0d6e2;
	border-radius: 5px;
}

section#aboutme .hobbies{
	width: 5.5em;
	border: solid 5px #d0d6e2;
	float:left;
	border-radius: 5px;
	margin-bottom:1.5em;
}

section#aboutme .left{
	margin-right:1em;
}

section div {
	padding-left: 0;
	padding-right: 0;
}


 p{
	color: #141a29;
	font-family: 'Josefin Sans';
	font-size: 1em;
	border: solid 5px #d0d6e2;
	padding-bottom: 0.5em;
	display: block;
	border-radius: 5px;
}

#title {

}

#about{
	padding-right:0;
}

#intro{
	height: 11.2em;
}

#me {
	padding-left:0;
}

#hobbiesimg{
	padding-right:0;
}

#hobbies {
	padding-bottom: 0;
	height: 7em;
}

section#education div {
	height:100%;
}

section#education img{
	width:100%;
	margin-bottom: 2em;
	margin-top:0.5em;
	padding-right:0;
	border: solid 5px #d0d6e2;
	border-radius: 5px;
}

/* #skills .first { */
	/* padding-left: 5em; */
	/* padding-bottom : 1.5em; */
/* } */
#skillscontent {
	padding: 0 1em 0 1em;
}

#skills img {
	width: 5em;
	display: block;
    margin-left: auto;
    margin-right: auto
}

#skillsname{
	text-align:center;
	border: none;
}

#contact input, textarea {
	display:block;
	margin: 1em auto 1em auto;
	width: 18em;
	border: none;
	border-radius: 5px;
	background-color: #d0d6e2;
	padding: 1em;
}

.name.errors.required {
	background-color: red;
}


@media screen and (max-width: 385px) {

	div#navabout, div#naveducation, div#navportfolio, div#navskills, div#navcontact {
		padding:0;
	}

	h1{
		font-size: 2em;
	}

	h2 {
		font-size: 2em;
	}
	section#aboutme .hobbies{
		max-width: 4.3em;
		border: solid 5px #d0d6e2;
		border-radius: 5px;
		margin-bottom: 1.2em;
	}

		section#aboutme .portrait{
		width: 9.15em;
		padding-left: 0.1em;
		float:right;
	}

		section#aboutme .hobbie{
		width: 4.3em;
		padding-left: 0.1em;
		float:left;
	}


	section#aboutme .left{
		margin-right:0.2em;
		/* float:right; */
	}

	section#aboutme img{

		border: solid 5px #d0d6e2;

		border-radius: 5px;
	}

	section#aboutme p{
		color: #141a29;
		font-family: 'Josefin Sans';
		font-size: 0.8em;
		border: solid 5px #d0d6e2;
		display: block;
		border-radius: 5px;
	}
	#intro{
		height: 11.3em;
	}

	#hobbiesp{
		width: 11.3em;
		height: 13em;
		float:right;
	}

	#hobbiesimg{
		padding-left:1em;
	}

	section#education p {
	font-size: 0.8em;
}

section#skills img {
	width: 3.7em;
}


}
